.delete-user {
	cursor: pointer;
}

.header {
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.content {
	margin: 10px 20px;
}
user-row {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
}

.info-block {
	background-color: #e8e7e7;
	padding: 0px 5px;
	border-radius: 5px;
	margin-top: 10px;
}

.item {
	flex-grow: 1;
}

nav {
	margin-top: 20px;
}

.validation-message {
	color: red;
}

button[type="submit"] {
    width: 100%;
}

.right-side {
	text-align: right;
}

img {
	width: 40px;
	height: 40px;
}

.container {
    margin-top: 50px;
}

a {
    color: black;
}







#photoG {
	height: 350px;
	width: 100%;
	background-repeat: no-repeat;
}

.bg0 {
    background-image: url(app/images/1_m.jpg); 
    }

.bg1 {
    background-image: url(app/images/2.JPG); 
}

.bg2 {
    background-image: url(app/images/23365096_10208053221688403_954618729_n.jpg); 
}

.bg3 {
    background-image: url(app/images/HoneycombSP3black1-300x300.jpg); 
}



