.delete-user {
	cursor: pointer;
}

.header {
	font-size: 1.5rem;
	margin-bottom: 8px;
}

.content {
	margin: 10px 20px;
}
user-row {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	align-items: stretch;
}

.info-block {
	background-color: #e8e7e7;
	padding: 0px 5px;
	border-radius: 5px;
	margin-top: 10px;
}

.item {
	flex-grow: 1;
}

nav {
	margin-top: 20px;
}

.validation-message {
	color: red;
}

button[type="submit"] {
    width: 100%;
}

.right-side {
	text-align: right;
}

img {
	width: 40px;
	height: 40px;
}

.container {
    margin-top: 50px;
}

a {
    color: black;
}
