

#photoG {
	height: 350px;
}

#photoG .image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 100%;
}

.bg0 {
    background-image: url(app/images/1_m.jpg); 
}

.bg1 {
    background-image: url(app/images/2.JPG); 
}

.bg2 {
    background-image: url(app/images/23365096_10208053221688403_954618729_n.jpg); 
}

.bg3 {
    background-image: url(app/images/HoneycombSP3black1-300x300.jpg); 
}