

#photoG {
	height: 500px;
}

#photoG .image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 100%;
}

.view-count-container {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.view-count {
    text-align: center;
    background-color: darkgray;
    border: solid 1px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}