<form name="userForm" novalidate ng-submit="$ctrl.submitForm(userForm)">
    <fieldset>
        <legend>Заповніть дані</legend>
        <div class="form-group ">
            <label>Ім'я:</label>
            <input required ng-model="$ctrl.user.name" type="text" name="name" class="form-control" />
            <div ng-show="userForm.$submitted && userForm.name.$invalid" class="validation-message">Заповніть поле, щоб продовжити</div>
        </div>
        <div class="form-group">
            <label>Стать:</label>
            <select required name="sex" ng-model="$ctrl.user.sex" class="form-control">
                <option value="male">Чоловіча</option>
                <option value="female">Жіноча</option>
            </select>
            <div ng-show="userForm.$submitted && userForm.sex.$invalid" class="validation-message">Заповніть поле, щоб продовжити</div>
        </div>
        <div class="form-group">
            <label>Номер телефону:</label>
            <input required type="number" ng-model="$ctrl.user.number" name="number" class="form-control" />
            <div ng-show="userForm.$submitted && userForm.number.$invalid" class="validation-message">Заповніть поле, щоб продовжити</div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input required ng-model="$ctrl.user.email" type="email" name="email" class="form-control" />
            <div ng-show="userForm.$submitted && userForm.email.$error.required" class="validation-message">Заповніть поле, щоб продовжити</div>
            <div ng-show="userForm.$submitted && userForm.email.$error.email" class="validation-message">Невірний email</div>
        </div>
        <div class="form-group form-check">
            <input ng-model="$ctrl.user.hasGitHub" type="checkbox" class="form-check-input" value="hasGithub" id="hasGithub" />
            <label class="form-check-label">У мене є Github!</label>
        </div>
        <div ng-show="$ctrl.user.hasGitHub" class="form-group" id="githubAccountBlock">
            <label>Github акаунт</label>
            <input required ng-model="$ctrl.user.gitHubAccount" type="text" name="githubAccount" class="form-control" />
            <div ng-show="userForm.$submitted && $ctrl.user.hasGitHub && userForm.githubAccount.$invalid" class="validation-message">Заповніть поле, щоб продовжити</div>
            <div ng-show="userForm.$submitted && $ctrl.user.hasGitHub && $ctrl.incorrectAccount" class="validation-message">Не знайдено такого користувача Github. Вкажіть правильний логін або зніміть позначку про наявність аккаунта</div>
        </div>
        <button type="submit">Додати користувача</button>
    </fieldset>
</form>