
    <div class="item">
        <a ng-href="#!users/{{$ctrl.currentUser.id}}">{{$ctrl.currentUser.name}}</a>
    </div>
    <div class="item item-with-icon">
        <i class='fas fa-{{$ctrl.currentUser.sex}}'></i>
    </div>
    <div class="item right-side">
        <div ng-if="$ctrl.currentUser.gitHubAccount">
            <a href="https://github.com/{{$ctrl.currentUser.gitHubAccount}}">
                {{$ctrl.currentUser.gitHubAccount}}
            </a>
            <img ng-src="{{$ctrl.currentUser.icon}}">
        </div>
    </div>
    <div class="item item-with-icon">
        <i class="fas fa-times-circle delete-user" ng-click="$ctrl.delete()"></i>
    </div>
